body{
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


.calculadora_tittle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}