body::-webkit-scrollbar{
  width: 7px;
  height: 6px;
}

body::-webkit-scrollbar-thumb{
  background-color: rgba(0, 106, 255, 0.884);;
  border-radius: 5px;
}


body {
  font-family: 'Red Hat Display', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 5%;
  background-image: url(src/Imagen\ dia.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

header{
  display: flex;
  justify-content: space-around;
  gap: 100%;
}

.switch{
  position: relative;
  display: inline-block;
  width: 80px;
  height: 40px;
  background-color: rgba(0, 106, 255, 0.884);
  border-radius: 40px;
  cursor: pointer;
}

.switch::after{
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 30px ;
  background-color: white;
  left: 5px;
  top: 5px;
  transition: all 0.4s;
}

input[type='checkbox']:checked + .switch::after{
  transform: translate(40px);
  background-color: rgb(84, 82, 82);
}

input[type='checkbox']:checked + .switch{
  background-color: rgb(155, 3, 155);

}

.offscreen{
  position: relative;
  left: -9999px;
}

.calculadora{
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-around;
}

.contenedor_botones{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 8vh;
}

.calculadora button{
  background-color: rgba(0, 106, 255, 0.884);
  color: white;
  font-size: 25px;
  border-radius: 50px;
  display: flex;
  width: 100%;
  height: 150%;
  justify-content: center;
  align-items: center;
  opacity: 70%;
  cursor: pointer;
}

.calculadora input{
  width: 90%; /* Ancho deseado */
  height: 10vh; /* Alto deseado */
  border-radius: 10px;
  opacity: 70%;
  text-align: center;
  font-size: large;
} 

h1{
  text-align: center;
  margin-bottom: 100px;
  color:rgba(0, 106, 255, 0.884);
  font-weight:bold ;
  font-size: 8vh;
}


