body::-webkit-scrollbar{
  width: 7px;
  height: 6px;
}

body::-webkit-scrollbar-thumb{
  background-color: rgba(0, 106, 255, 0.884);
  border-radius: 5px;
}

.dark::-webkit-scrollbar-thumb{
  background-color: rgb(155, 3, 155);
  border-radius: 5px;
}


body {
  background: url(src/Imagen\ dia.jpg) no-repeat center;
  background-size:cover;
  min-height: 100vh;
  font-family: 'Red Hat Display', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50vh;
  margin: 10%;
}

.dark{
  background: url(src/Imagen\ noche.png) no-repeat center;;
  background-size:cover;
  min-height: 100vh;
  height: 50vh;
  margin: 10%;
}



header{
  display: flex;
  justify-content: space-around;
  gap: 50%;
}

.switch{
  position: relative;
  display: inline-block;
  width: 100px;
  height: 40px;
  background-color: rgba(0, 106, 255, 0.884);
  border-radius: 40px;
  cursor: pointer;
}

.switch::after{
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 30px ;
  background-color: white;
  left: 5px;
  top: 5px;
  transition: all 0.4s;
}

input[type='checkbox']:checked + .switch::after{
  transform: translate(40px);
  background-color: rgb(84, 82, 82);
}

input[type='checkbox']:checked + .switch{
  background-color: rgb(155, 3, 155);

}

.offscreen{
  position: relative;
  left: -9999px;
}

.calculadora{
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-around;
}

.contenedor_botones{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 8vh;
}

.contenedor_botones button:last-child {
  grid-column: span 4;
}


.calculadora button{
  background-color: rgba(0, 106, 255, 0.884);
  color: white;
  font-size: 25px;
  border-radius: 50px;
  display: flex;
  width: 100%;
  height: 150%;
  justify-content: center;
  align-items: center;
  opacity: 70%;
  cursor: pointer;
}

.dark .calculadora button{
  background-color: rgb(155, 3, 155);
}

.calculadora button:hover{
  background-color: white;
  color: rgba(0, 106, 255, 0.884);;
}

.dark .calculadora button:hover{
  color: rgb(155, 3, 155);
}

.calculadora input{
  width: 90%; /* Ancho deseado */
  height: 10vh; /* Alto deseado */
  border-radius: 10px;
  opacity: 70%;
  text-align: center;
  font-size: 250%;
} 

h1{
  text-align: center;
  margin-bottom: 100px;
  color:rgba(0, 106, 255, 0.884);
  font-weight:bold ;
  font-size: 8vh;
}

.dark h1{
  color: rgb(155, 3, 155);
}

h1 , p{
  background-color: white;
  border-radius: 10px;
  opacity: 70%;
}

.wrap-toggle{
  font-size: 5vh;
  font-weight: bold;
  color:rgba(0, 106, 255, 0.884);
  display: flex;
  gap: 2%;
  align-items: center;
}

.dark .wrap-toggle{
  color: rgb(155, 3, 155);
}





@media screen and (max-width: 1200px) {
  header{
    gap: 20%;
  }

  h1{
    font-size: 6vh;
  }
}

@media screen and (max-width: 768px) {
  body{
    min-height: 100vh;
    margin: 1%;
  }

  .dark{
    min-height: 100vh;
    margin: 1%;
  }

  header{
    gap: 10%;
  }
  .wrap-toggle{
    font-size: 2vh;
  }

  h1{
    font-size: 4vh;
  }

  .calculadora input{
    width: 90%; /* Ancho deseado */
    height: 5vh; /* Alto deseado */
  }

  .calculadora button{
    width: 100%;
    height: 120%;
  }

  .contenedor_botones{
    gap: 4vh;
  }
}

@media screen and (max-width: 320px){
  body{
    margin: 5%;
  }

  .dark{
    margin: 5%;
  }

  .calculadora input{
    font-size: 100%;
  }

  .calculadora button{
    font-size: 100%;
  }

  header{
    gap: 1%;
  }

  .switch{
    width: 50px;
    height: 20px;
    border-radius: 40px;
  }
  
  .switch::after{
    width: 15px;
    height: 15px;
    border-radius: 15px ;
    left: 5px;
    top: 2px;
  }

  input[type='checkbox']:checked + .switch::after{
    transform: translate(20px);
  }
}

